In [1]:
import numpy as np
import pandas as pd

In [11]:
df = pd.DataFrame(data=np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [12]:
df

          W         X         Y         Z
A -0.271096 -1.010112  1.644031 -0.036061
B  0.137181  0.121858  0.406265 -0.432396
C -0.816999 -1.750542 -0.832631  0.566700
D -0.235649 -0.215703  0.963015 -0.323790
E  0.244657 -0.453804  1.693303  1.622281

In [13]:
type(df)

pandas.core.frame.DataFrame

Enquando em uma data series para encontrar um valore especificamos o ind√≠ce, aqui especificamos a coluna.

In [18]:
df['W']

A   -0.271096
B    0.137181
C   -0.816999
D   -0.235649
E    0.244657
Name: W, dtype: float64

In [19]:
df['W']['A']

-0.2710961008142864

df.loc[linhas, colunas]

df.iloc[linhas, colunas]

In [24]:
df.loc[['A','B'], ['W','Y']]

          W         Y
A -0.271096  1.644031
B  0.137181  0.406265

In [31]:
df.iloc[0:2, 0:2]

          W         X
A -0.271096 -1.010112
B  0.137181  0.121858