In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.DataFrame(data=np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [32]:
df

          W         X         Y         Z
A  0.905712 -1.343546 -1.186945 -0.460104
B -0.014045  0.019838  0.890427  0.646939
C  0.733103 -1.504198  2.078671  0.367952
D  1.785371 -1.769712  0.209429 -0.557970
E -1.338421 -1.138968 -0.595378 -0.104117

In [33]:
type(df)

pandas.core.frame.DataFrame

Enquando em uma data series para encontrar um valore especificamos o indíce, aqui especificamos a coluna.

In [14]:
df['W']

A    1.587754
B   -1.182692
C    0.211033
D    0.549279
E   -1.177341
Name: W, dtype: float64

A ordem de seleção aqui é coluna linha ja com o loc e o iloc a ordem vira linha coluna

In [15]:
df['W']['A']

1.5877535461412922

df.loc[linhas, colunas]

df.iloc[linhas, colunas]

In [24]:
df.loc[['A','B'], ['W','Y']]

          W         Y
A -0.271096  1.644031
B  0.137181  0.406265

In [31]:
df.iloc[0:2, 0:2]

          W         X
A -0.271096 -1.010112
B  0.137181  0.121858

In [16]:
df[['W']]

          W
A  0.331016
B -0.489070
C  0.283043
D -1.112866
E -0.081818

In [18]:
df["NEW"] = df['W'] + df['Y']
df

          W         X         Y         Z       NEW
A  0.331016 -0.489302 -3.353375 -1.188757 -3.022359
B -0.489070  0.849987 -1.199126  2.624986 -1.688196
C  0.283043 -0.073354  0.655803 -0.121705  0.938846
D -1.112866  0.885889  1.341888 -0.987002  0.229022
E -0.081818 -0.966982 -1.195494  0.902599 -1.277312

In [19]:
del df['NEW']
df

          W         X         Y         Z
A  0.331016 -0.489302 -3.353375 -1.188757
B -0.489070  0.849987 -1.199126  2.624986
C  0.283043 -0.073354  0.655803 -0.121705
D -1.112866  0.885889  1.341888 -0.987002
E -0.081818 -0.966982 -1.195494  0.902599

In [23]:
df.drop('A', axis=0, inplace=True)

          W         X         Y         Z
B -0.489070  0.849987 -1.199126  2.624986
C  0.283043 -0.073354  0.655803 -0.121705
D -1.112866  0.885889  1.341888 -0.987002
E -0.081818 -0.966982 -1.195494  0.902599

In [26]:
df.loc['A']

W    0.331016
X   -0.489302
Y   -3.353375
Z   -1.188757
Name: A, dtype: float64

In [6]:
df.iloc[[1,2], [1,2]]

          X         Y
B -1.312251  1.697352
C -0.494135  0.783937

In [8]:
df.iloc[:-1,2]

A   -0.187997
B    1.697352
C    0.783937
D    1.897561
Name: Y, dtype: float64

In [9]:
df > 0

       W      X      Y      Z
A  False  False  False  False
B   True  False   True   True
C   True  False   True   True
D   True  False   True   True
E  False  False  False   True

In [10]:
df[df>0]

          W   X         Y         Z
A       NaN NaN       NaN       NaN
B  1.051282 NaN  1.697352  0.509755
C  0.543490 NaN  0.783937  1.632123
D  0.788107 NaN  1.897561  0.590685
E       NaN NaN       NaN  0.562393

In [12]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [34]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [35]:
df.reset_index(inplace=True)
df

  index         W         X         Y         Z
0     A  0.905712 -1.343546 -1.186945 -0.460104
1     B -0.014045  0.019838  0.890427  0.646939
2     C  0.733103 -1.504198  2.078671  0.367952
3     D  1.785371 -1.769712  0.209429 -0.557970
4     E -1.338421 -1.138968 -0.595378 -0.104117

In [39]:
index='A B C D E'.split()
df.set_index("index")

              W         X         Y         Z
index
A      0.905712 -1.343546 -1.186945 -0.460104
B     -0.014045  0.019838  0.890427  0.646939
C      0.733103 -1.504198  2.078671  0.367952
D      1.785371 -1.769712  0.209429 -0.557970
E     -1.338421 -1.138968 -0.595378 -0.104117

In [40]:
df

  index         W         X         Y         Z
0     A  0.905712 -1.343546 -1.186945 -0.460104
1     B -0.014045  0.019838  0.890427  0.646939
2     C  0.733103 -1.504198  2.078671  0.367952
3     D  1.785371 -1.769712  0.209429 -0.557970
4     E -1.338421 -1.138968 -0.595378 -0.104117

Hierarquia de índices e índices múltiplos

In [41]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]

hier_index = list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [42]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [43]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [44]:
df = pd.DataFrame(data=np.random.randn(6,2), index=hier_index, columns=['A','B'])

In [45]:
df

             A         B
G1 1  0.231384  1.081558
   2  0.719740 -0.961489
   3 -0.110111 -0.403176
G2 1  0.105693 -0.591139
   2  0.366953 -0.367444
   3  2.508823  0.843516

In [46]:
df.loc['G1']

          A         B
1  0.231384  1.081558
2  0.719740 -0.961489
3 -0.110111 -0.403176

In [48]:
df.loc['G1'].loc[1]

A    0.231384
B    1.081558
Name: 1, dtype: float64

In [49]:
df.index.names = ['Groups', 'Num']

In [50]:
df

                   A         B
Groups Num
G1     1    0.231384  1.081558
       2    0.719740 -0.961489
       3   -0.110111 -0.403176
G2     1    0.105693 -0.591139
       2    0.366953 -0.367444
       3    2.508823  0.843516